<div class="container">
 	<h1><%= @curr_game.deck.title %></h1>
 	<h4>Progress: <%= @curr_game.num_right %> correct(s)  </h4>
 	<h2>Question <%= @curr_game.progress + 1 %> / <%= @curr_game.num_cards %>: <%= @curr_card.question %></h2>
 	<form name="user_guess" action="/guess/<%= @curr_game.id %>" method="post">
 		<input type="string" name = "guess" placeholder = "Answer">
 		<input type="submit" value = "submit">
 	</form>
 </div>