<div class="container">
 	<h1>Welcome, <%= @curr_user.name %></h1>
 	<p>=======================================================</p>
 	<% if @all_games %>
 	  <ol> 	
	 	<% @all_games.each do |game| %>
	 		<article class="deck_list">
	 			<li><h3><%= game.deck.title %> (<%= game.deck.cards.count %> cards)</h3>
					<p>Answered: <%= game.progress %> --- Corrects: <%= game.num_right %><br/>
						<% game.guesses[-1]? lt = game.guesses.last.updated_at : lt = "not started"%>
						<% game.guesses[-1]? st = "Continue" : st = "Start"%>
					<small> Last played: <%= lt %> </small>	
					<form class="bu" name = "play" action="/play/<%= game.id %>"  method="get">
 						<input type = "submit" value ="<%= st %>">
 					</form>
					</p>
					<p>-----------------------------------------------------------------------------</p>
				
	 			</li>
	 		</article>
	 	<% end %>
	  </ol>
 	<% else %>
 		<p>Sorry you have not created any game yet.</p>
 	<% end %>
	<br/>
	<br/>
	
	<form name = "games" action="/new"  method="get">
 		<input type = "submit" value ="Create a new game">
 	</form>


 </div>