
 	<h1>Welcome, <%= @curr_user.name %></h1>
 	<% if @all_decks && @all_decks[0] %>
	 	<% @all_decks.each do |deck| %>
	 		<article class="deck_list">
	 			<h3><a href="#"><%= deck.title %></a></h3>
	 		</article>
	 	<span class="progress"><%= deck.count %> / <%= deck.size %> (<%= deck.num_right %> correct)</span>
	 	<% end %>
 	<% else %>
 		<p>You don't have any deck yet</p>
 	<% end %>

</div>