<div class="container">
 	<h1>Welcome, <%= @curr_user.name %></h1>
 	<form name = "logout" action="/logout"  method="get">
 		<input type = "submit" value ="Logout">
 	</form>
 	<% if @all_games %>
 	  <ol> 	
	 	<% @all_games.each do |game| %>
	 		<article class="deck_list">
	 			<li><h3><%= game.deck.title %> (<%= game.deck.cards.count %> cards)</h3>
					<p>Progress: <%= game.progress %> (<%= game.num_right %> correct)
					<form name = "play" action="/play/<%= game.id %>"  method="get">
 						<input type = "submit" value ="Play">
 					</form>
 					<form name = "delete" action="/#"  method="get">
 						<input type = "submit" value ="Delete">
 					</form>
					</p>
				
	 			</li>
	 		</article>
	 	<% end %>
	  </ol>
 	<% else %>
 		<p>Sorry you have not created any game yet.</p>
 	<% end %>

	<form name = "games" action="/new"  method="get">
 		<input type = "submit" value ="Create a new game">
 	</form>

 </div>